body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
}
h1 {
    font-size: 4em;
    margin: 0;
    color: #333;
}
p {
    font-size: 1.2em;
    margin-top: 20px;
    color: #666;
}
a {
    color: #333;
    text-decoration: underline;
}