<nav>
  <ul>
    <li><a href="">Accueil</a></li>
    <li><a href="liste">Liste</a></li>
  </ul>
  <div class="social-icons">
    <a href="https://github.com/menahvye" target="_blank"><img src="../assets/github.png" alt="Gh"></a>
   <!-- <a href="#"><img src="../assets/discord.png" alt="Dsc"></a>
    <a href="#"><img src="../assets/instagram.png" alt="Ig"></a> -->
    <a href="https://www.linkedin.com/in/menahem-vye-ab3575206/" target="_blank"><img src="../assets/linkedin.png" alt="Li"></a>
  </div>
</nav>

<router-outlet></router-outlet>